<div class="container">
<h2 class="heading">管理者ログイン</h2>

<div class="admin-session mt-3 p-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field row mb-2">
        <div class="col-2"><%= f.label :email, "メールアドレス" %></div>
        <div class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></div>
      </div>
  
    <div class="field row">
        <div class="col-2"><%= f.label :password, "パスワード" %></div>
        <div class="col-6"><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></div>
      </div>
  
    <div class="actions row">
        <button class="btns cover-3d offset-md-3 mt-3">
          <span><%= f.submit "ログイン", class: "btn text-reset" %></span>
        </button>
      </div>
  <% end %>
</div>

<%= render "admin/shared/links" %>
</div>
