<div class="container">
  <div class="py-3">
    <%= search_form_for @search_post, url: '/admin/posts', class: "form-inline" do |f| %>
      <%= f.text_field :body_cont, class: "form-control mx-1 col-4", placeholder: "投稿を検索" %>
      <%= f.submit "検索", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
  <h2>投稿一覧</h2>
  <% @search_posts.each do |post| %>
    <div class="row mb-3">
      <%= image_tag post.user.get_profile_image(100,100), class: "mr-2 user_profile" %>
      <%= link_to post.user.name, admin_user_path(post.user) %>
    </div>
    <%= link_to admin_post_path(post) do %>
      <div class="row posts">
        <%= image_tag post.get_image(300,300), class: "mx-auto" %>
      </div>
    <% end %>
    <div class="row mb-3">
      <%=safe_join(post.body.split("\n"),tag(:br)) %>
    </div>
    
  <% end %>
  <%= paginate @search_posts %>
</div>