<div class="container">
  <div class="text-center">
    <h2 class="rounded-pill bg-primary border border-dark d-inline-block p-1 mt-3">ユーザー一覧</h2>
  </div>
  <div class="py-3">
    <%= search_form_for @search_user, class: "form-inline" do |f| %>
      <%= f.text_field :name_cont, class: "form-control mr-1 col-4", placeholder: "ユーザーネームを検索" %>
      <%= f.submit "\uf002", class: "btn btn-outline-success fa" %>
    <% end %>
  </div>
  <div class="user_index">
    <%= render 'user/users/user_index', search_users: @search_users %>
  </div>
  <%= paginate @search_users %>
</div>