<div class="container">
  <% if @user.name != "guestuser" %>
    <% if current_user == @user %>
      <%= link_to edit_user_path(@user), class: "btn btn-dark mt-3 mr-3" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
      <%= link_to '新規投稿する', new_post_path, class: "btn btn-primary mt-3" %>
    <% end %>
  <% end %>
  <div class="row py-2">
    <div class="col-2 text-center">
      <%= image_tag @user.get_profile_image(100,100), class: "user_profile" %>
    </div>
    <div class="col-8 border border-dark rounded-lg p-2">
      <%= @user.name %><br>
      <% if @user.self_introduction.nil? %>
        <%= @user.self_introduction %><br>
      <% else %>
        <%= safe_join(@user.self_introduction.split("\n"),tag(:br)) %><br>
      <% end %>
      <% if @user.name != "guestuser" %>
        <span class="text-secondary">職業： </span><%= @user.position %><br>
        <span class="text-secondary">シェアハウスしている都道府県： </span><%= @user.area %>
      <% end %>
    </div>
  </div>
  <% unless current_user == @user %>
    <% if (current_user.following? @user) && (@user.following? current_user) %>
      <button class="btns slide-bg">
        <span class="bg-lime"></span><%= link_to chat_path(@user.id), class: "btn text-reset" do %>
          <i class="fa-solid fa-envelope"></i> メッセージを送る
        <% end %>
      </button>
    <% end %>
  <% end %>
  <div>
    <%= link_to "フォロワー", user_followers_path(@user), class: "btn" %>
    ：<%= @user.followers.count %>
    <%= link_to "フォロー中", user_followings_path(@user), class: "btn" %>
    ：<%= @user.followings.count %>
  </div>
  <div class="mb-3">
    <% unless current_user == @user %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-warning" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  
  <!--タブメニュー-->
  <div class="wrap">
    <ul id="tab-menu">
      <li><a href="#post_index" class="active">投稿一覧</a></li>
      <li><a href="#house_member" class="">シェアハウスメンバー</a></li>
      <li><a href="#favorites" class="">いいねした投稿</a></li>
    </ul>
    
    <div id="tab-contents">
      <div id="post_index" class="tab">
        <% @posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <div class="row posts">
              <%= image_tag post.get_image(300,300), class: "mx-auto rounded" %>
            </div>
          <% end %>
          <div class="border border-secondary rounded-lg p-2 my-2 post_body">
            <%= safe_join(post.body.split("\n"),tag(:br)) %>
          </div>
          <div class="row">
            <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            いいね <strong><%= post.favorites.count %></strong>
            コメント <strong><%= post.post_comments.count %></strong>
          </div>
        <% end %>
        <%= paginate @posts, param_name: 'my_posts' %>
      </div>
      
      <div id="house_member" class="tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>メンバーネーム</th>
              <th class="introduction">紹介</th>
              <th>職業</th>
            </tr>
          </thead>
          <tbody>
            <% @house_members.each do |house_member| %>
              <tr>
                <td><%= house_member.name %></td>
                <td><%= safe_join(house_member.introduction.split("\n"),tag(:br)) %></td>
                <td><%= house_member.position %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div id="favorites" class="tab">
        <% @favorite_posts.each do |favorite_post| %>
          <div class="row">
            <%= image_tag favorite_post.user.get_profile_image(80,80), class: "user_profile mr-1" %>
            <%= link_to favorite_post.user.name, user_path(favorite_post.user) %>
          </div>
          <%= link_to post_path(favorite_post) do %>
            <div class="row posts">
              <%= image_tag favorite_post.get_image(300,300), class: "mx-auto rounded" %>
            </div>
          <% end %>
          <div class="border border-secondary rounded-lg p-2 my-2 post_body">
            <%= safe_join(favorite_post.body.split("\n"),tag(:br)) %>
          </div>
          <div class="row mb-5">
            <%= favorite_post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            いいね<%= favorite_post.favorites.count %>
            コメント<%= favorite_post.post_comments.count %>
          </div>
        <% end %>
        <%= paginate @favorite_posts, param_name: 'favorite_posts' %>
      </div>
    </div>
  </div>
</div>