<div class="container">
  <h2>ユーザー詳細</h2>
  <%= link_to edit_user_path(@user), class: "btn" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <div>
    <%= @user.name %>
    <%= @user.self_introduction %>
  </div>
  <%= @user.position %>
  <%= @user.area %>
  <div>
    <%= link_to "フォロワー", user_followers_path(@user), class: "btn" %>
    <%= link_to "フォロー中", user_followings_path(@user), class: "btn" %>
  </div>
  <div>
    <% unless current_user == @user %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn" %>
      <% end %>
    <% end %>
  </div>
  
  <div class="wrap">
    <ul id="tab-menu">
      <li><a href="#post_index" class="active">投稿一覧</a></li>
      <li><a href="#house_member" class="">シェアハウスメンバー</a></li>
      <li><a href="#favorites" class="">いいね</a></li>
    </ul>
    
    <div id="tab-contents">
      <div id="post_index" class="tab">
        <% @posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <div class="row posts">
              <%= image_tag post.get_image(200,200), class: "mx-auto" %>
            </div>
          <% end %>
          <div class="row">
            <%= post.body %>
          </div>
          <div class="row">
            <%= post.favorites.count %> いいね
            コメント <%= post.post_comments.count %>
          </div>
        <% end %>
      </div>
      
      <div id="house_member" class="tab">
        <p>シェアハウスメンバーが入る</p>
      </div>
      
      <div id="favorites" class="tab">
        <p>いいねが入る</p>
      </div>
    </div>
  </div>
</div>