<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'new-england.jpg', class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100 top-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'living-room.jpg', class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100 top-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'kitchen.jpg', class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100 top-img" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <h1 class="linear-gradient mt-3">シェアハウスの日常を投稿しよう！</h1>
  <h5 class="font-italic">~ShareTalkはシェアハウスをしている人たちのSNSサイトです~</h5>
  <div class="text-center mx-auto">
    <h3 class="border-bottom">ShareTalkの主な機能</h3>
  </div>
  <div class="row mx-auto mb-5">
    <div class="col-4 text-center">
      <div class="card_items">
        <h5>シェアハウスの日常の出来事を投稿</h5>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card_items">
        <h5>シェアハウスメンバーを登録</h5>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card_items">
        <h5>投稿にいいね、コメント</h5>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card_items">
        <h5>ユーザーをフォロー</h5>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card_items">
        <h5>相互フォローでチャット</h5>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card_items">
        <h5>シェアハウス掲示板</h5>
      </div>
    </div>
  </div>
  
  <h3 class="border-bottom text-center">ShareTalkの特徴</h3>
  <div class="row">
    <h4 class="mr-3">一緒に暮らすメンバーを<span class="text-success">登録</span>しよう！</h4>
    <p><small>一緒に暮らすメンバーを登録 そのメンバーとの出来事やシェアハウスでの生活を投稿することを主な目的としています。</small></p>
  </div>
  <h5>マイページのユーザー編集からシェアハウスメンバーを登録しましょう！</h5>
  
  <h3 class="heading mt-5">シェアハウス掲示板</h3>
    <p class="font">
      シェアハウスならではの悩みや疑問ありませんか？？
      そんな時にシェアハウス掲示板を利用しましょう！<br>
      回答数をランキングで表示しているので気になる掲示板をすぐにチェックできます！
    </p>
  <div class="text-center">
    <%= link_to '今すぐ始める', new_user_registration_path, class: "btn btn-lg btn-primary my-3" %>
  </div>
  

  <h3>〜これからシェアハウスをしたいと考えている方へ〜</h3>
  <p>ゲストログイン機能で投稿や掲示板を見てイメージをしてみよう！</p>
  <div class="text-center">
    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-lg btn-success my-2", method: :post %>
  </div>
</div>