<div class="container">
  <h2 class="heading">シェアハウス掲示板</h2><br>
  <h4 class="font linear-gradient share-board">シェアハウスならではの悩みや疑問をshareしてみんなの意見を聞こう！</h4>
  <% if @boards.blank? %>
    <p class="text-warning">掲示板はありません</p>
  <% else %>
    <div class="board">
      <% @boards.each do |board| %>
        <div class="board-box mb-2">
          ・<%= link_to board.title, board_path(board) %>
        </div>
      <% end %>
      <%= paginate @boards %>
    </div>
  <% end %>
  
  <%= render 'layouts/errors', error: @board %>
  <%= form_with model: @board, method: :post do |f| %>
  <%= f.label :title, "質問したいこと" %>
  <%= f.text_field :title, class: "form-control", placeholder: '質問を入力してください' %>
  <%= f.submit '掲示板作成', class: "btn btn-success mt-3 btn-border" %>
<% end %>

<% if @board_answer_ranks.blank? %>
  <p class="mt-5">ランキングがありません</p>
<% else %>
  <h3 class="board-rank"><i class="fas fa-crown"></i> 回答数ランキング <i class="fas fa-crown"></i></h3>
  
  <% answers = 0 %>
  <% same_rank = 1 %>
  
  <% @board_answer_ranks.each.with_index(1) do |board, ranking| %>
    <div class="mb-2">
      <% if ranking == 1 %>
        <strong>第<%= ranking %>位</strong>
        <%= link_to board.title, board_path(board) %> 回答：<em>(<%= board.answers.count %>件)</em>
      <% else %>
        <% if board.answers.count != answers %>
          <strong>第<%= ranking %>位</strong>
          <%= link_to board.title, board_path(board) %> 回答：<em>(<%= board.answers.count %>件)</em>
          <% same_rank = 1 %>
        <% else %>
          <strong>第<%= ranking - same_rank %>位</strong>
          <%= link_to board.title, board_path(board) %> 回答：<em>(<%= board.answers.count %>件)</em>
          <% same_rank = same_rank + 1 %>
        <% end %>
      <% end %>
      <% answers = board.answers.count %>
    </div>
  <% end %>
<% end %>
</div>