<div class="container">
  <h2 class="mt-3">シェアハウス掲示板</h2>
  <p>シェアハウスならではの悩みや疑問をshareしてみんなの意見を聞こう！</p>
  <div class="board">
    <% @boards.each do |board| %>
      <div class="board-box">
        <%= link_to board.title, board_path(board) %>
      </div>
    <% end %>
  </div>
  <%= form_with model: @board, method: :post do |f| %>
  <%= f.label :title, "質問したいこと" %>
  <%= f.text_field :title, class: "form-control", placeholder: '質問を入力してください' %>
  <%= f.submit 'ボード作成', class: "btn btn-success mt-3" %>
<% end %>
</div>