<div class="container">
  <h2 class="heading">掲示板詳細</h2>
  <h3 class="mt-2 font-italic">〜質問〜</h3>
  <div class="board">
    <%= link_to @board.user.name, user_path(@board.user_id) %>
    <p class="font"><%= @board.title %></p>
    <%= @board.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <% if @board.user_id == current_user.id %>
      <%= link_to "削除", board_path(@board), method: :delete, "data-confirm" => "本当に掲示板を削除しますか？", class: "btn btn-danger" %>
    <% end %>
  </div>
  
  <% if @answers.exists? %>
    <h3 class="mt-5">回答 <em>(<strong><%= @answers.count %></strong>件)</em></h3>
    <% @answers.each do |answer| %>
      <div class="answers mb-2">
        <%= link_to answer.user.name, user_path(answer.user_id) %>
        <p class="font"><%= safe_join(answer.body.split("\n"),tag(:br)) %></p>
        <%= answer.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        <% if answer.user.id == current_user.id %>
          <%= link_to "削除", board_answer_path(@board.id, answer.id), method: :delete, "data-confirm" => "本当に回答を削除しますか？", class: "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
    <%= paginate @answers %>
  <% end %>
  
  <%= form_with model: [@board, @answer], method: :post do |f| %>
    <%= f.label :body, "回答" %>
    <%= f.text_area :body, class: "form-control", placeholder: '回答内容を入力してください' %>
    <%= f.submit '回答する', class: "btn btn-success mt-3" %>
  <% end %>
</div>