<div class="container">
  <div class="py-3">
    <%= search_form_for @search_post, class: "form-inline" do |f| %>
      <%= f.text_field :body_cont, class: "form-control mx-1 col-4", placeholder: "投稿を検索" %>
      <%= f.submit "検索", class: "btn btn-outline-success" %>
    <% end %>
  </div>
  <h2>投稿一覧</h2>
  <div class="row">
    <button class="btns slide-bg offset-md-8">
      <span class="bg-blue"></span><%= link_to '新規投稿する', new_post_path, class: "btn text-reset" %>
    </button>
  </div>
  <% @search_posts.each do |post| %>
    <div class="mb-3">
    <div class="row">
      <%= image_tag post.user.get_profile_image(100,100), class: "mr-2 user_profile" %>
      <%= link_to post.user.name, user_path(post.user.id) %>
    </div>
    <%= link_to post_path(post) do %>
      <div class="row posts">
        <%= image_tag post.get_image(500,500), class: "mx-auto" %>
      </div>
    <% end %>
    <div class="row">
      <%= post.body %>
    </div>
    <div class="row">
      <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <div class="favorite_buttons_<%= post.id %> mx-1">
        <%= render "user/favorites/favorite", post: post %>
      </div>
      コメント<%= post.post_comments.count %> <i class="fa-solid fa-comment ml-1"></i>
    </div>
    </div>
  <% end %>
  <%= paginate @search_posts %>
</div>