<div class="container">
  <h2>投稿詳細</h2>
  <div class="row">
    <%=image_tag @post.user.get_profile_image(50,50), class: "mb-2 mr-2 user_profile" %>
    <%= link_to @post.user.name, user_path(@post.user.id) %>
  </div>
  <div class="row">
    <%=image_tag @post.get_image(500,500) %>
  </div>
  <div class="row">
    <%= safe_join(@post.body.split("\n"),tag(:br)) %>
  </div>
  <div class="row">
    <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <div class="favorite_buttons_<%= @post.id %>">
      <%= render "user/favorites/favorite", post: @post %>
    </div>
    コメント<%= @post.post_comments.count %>
    <% if @post.user == current_user %>
      <%= link_to  edit_post_path(@post), class: "btn" do %>
       <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to  post_path(@post), method: :delete, "data-confirm" => "投稿を本当に削除しますか？", class: "btn" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>コメント投稿者</th>
          <th>コメント内容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |comment| %>
          <tr>
            <td><%= link_to comment.user.name, user_path(comment.user) %></td>
            <td><%= comment.comment %></td>
            <% if comment.user == current_user %>
              <td><%= link_to "削除", post_post_comment_path(@post, comment), method: :delete, "data-confirm" => "コメントを本当に削除しますか？", class: "btn btn-danger" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <div class="form-inline my-3">
      <%= f.text_area :comment, placeholder: "コメントを入力して下さい", class: "form-control col-6" %>
      <%= f.submit "送信", class: "btn btn-primary ml-1" %>
    </div>
  <% end %>
</div>