<div class="container">
  <div class="py-3">
    <%= search_form_for @search_user, url: '/admin/users', class: "form-inline" do |f| %>
      <%= f.text_field :name_cont, class: "form-control mx-1 col-4", placeholder: "ユーザーを検索" %>
      <%= f.submit "検索", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
  <h2>ユーザー一覧</h2>
  <table class="table table-border table-hover">
    <thead>
      <tr class="bg-light">
        <th>会員ID</th>
        <th>ユーザーネーム</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @search_users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <% if user.is_deleted == false %>
          <td class="text-success">有効</td>
        <% else %>
          <td class="text-danger">退会</td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @search_users %>
</div>