<div class="container">
  <h2>
    <%= @user.name %>さんの会員情報
  </h2>
  <div>
    <div class="row my-3">
      <div class="col-3">会員ID</div>
      <div class="col-7"><%= @user.id %></div>
    </div>
    <div class="row my-3">
      <div class="col-3">プロフィール画像</div>
      <div class="col-7"><%= image_tag @user.get_profile_image(100,100), class: "user_profile" %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">ユーザーネーム</div>
      <div class="col-7"><%= @user.name %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">メールアドレス</div>
      <div class="col-7"><%= @user.email %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">自己紹介</div>
      <div class="col-7">
        <% if @user.self_introduction.nil? %>
          <%= @user.self_introduction %>
        <% else %>
          <%= safe_join(@user.self_introduction.split("\n"),tag(:br)) %>
        <% end %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">会員ステータス</div>
      <% if @user.is_deleted == false %>
        <div class="col-7 text-success">有効</div>
      <% else %>
        <div class="col-7 text-danger">退会</div>
      <% end %>
    </div>
    <div class="row">
      <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-primary offset-md-3 my-5" %>
    </div>
  </div>
</div>