<% visitor = notification.visitor %>
<% visited = notification.visited %>
  
  <%= link_to user_path(visitor) do %>
    <%= image_tag visitor.get_profile_image(30,30) %>
    <%= visitor.name %>
  <% end %>が
  <% case notification.action %>
    <% when 'follow' then %>
      あなたをフォローしました
    <% when 'favorite' then %>
      <%= link_to 'あなたの投稿', notification.post %>
      にいいねしました
    <% when 'post_comment' then %>
      <% if notification.post.user_id == visited.id %>
        <%= link_to "あなたの投稿", notification.post %>
      <% else %>
        <%= image_tag notification.post.user.get_profile_image(30,30) %>
        <%= notification.post.user.name %>の
        <%= link_to "投稿", post_path(notification.post) %>
      <% end %>
      にコメントしました
      <!----できれば内容表示したい-->
      <!--<p><%#= notification.post_comment %></p>-->
  <% end %>
  <%= time_ago_in_words(notification.created_at) + '前' %>