<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand" href="/"><span>ShareTalk</span></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user.id), class: "nav-link" do %>
              <i class="fa-solid fa-circle-user"></i> マイページ
            <% end %>
          </li>
          <li>
            <%= link_to posts_path, class: "nav-link" do %>
              <i class="fa-solid fa-list"></i> 投稿一覧
            <% end %>
          </li>
           <li>
            <%= link_to users_path, class: "nav-link" do %>
              <i class="fa-solid fa-users"></i> 会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to  destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to admin_users_path, class: "nav-link" do %>
              <i class="fa-solid fa-users-gear"></i> 会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_posts_path, class: "nav-link" do %> 
              <i class="fa-solid fa-list-check"></i> 投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %> 
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to users_guest_sign_in_path, class: "nav-link" do %>
              <i class="fa-solid fa-user-lock"></i> ゲストログイン
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="fa-solid fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-right-to-bracket"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>