<!DOCTYPE html>
<html>
  <head>
    <title>ShareTalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footer_fixed">
      <header class="sticky-top">
        <%= render 'layouts/header' %>
      </header>
      <main>
        <div class="flash">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: key) %>
          <% end %>
        </div>
        <%= yield %>
      </main>
      <footer>
        <div class="py-3 bg-secondary text-center">
          <p class="text-white-50 small">&copy; 2022 ShareTalk</p>
        </div>
      </footer>
    </div>
  </body>
</html>
